.header__logo {
  width: 176px;
  height: 52px;
  transition: 0.8s ease-in;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}