.header__logo {
  background-size: 176px;
  background-image: url(../../../images/header-logo.svg);
  transition: 0.8s ease-in;
  background-repeat: no-repeat;
  width: 176px;
  height: 52px;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__logo {
    background-size: 142px;
    width: 142px;
    height: 42px;
  }
}